
@font-face {
  font-family: 'calligraffiti';
  src: url('../fonts/calligraffiti/Calligraffiti-webfont.eot');
  src: url('../fonts/calligraffiti/Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/calligraffiti/Calligraffiti-webfont.woff') format('woff'),
  url('../fonts/calligraffiti/Calligraffiti-webfont.ttf') format('truetype'),
  url('../fonts/calligraffiti/Calligraffiti-webfont.svg#calligraffitiregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.vault-secret {
  border-bottom: solid;
  border-color: #DDDDDD;
  border-width: 1px;
  list-style: none;
  line-height: 30px;
}

li.ready {
  border: dashed 1px yellowgreen;
  border-radius: 5px;
}

li.accept {
  background-color: yellowgreen;
}

.drag {
  cursor: pointer;
}

.secret-placeholder {
  margin: 0px 20px 0px 10px;
  padding: 0px 0px 0px 0px;
  border-style: none;
  height: 25px;
  min-width: 300px;
  text-align: right;
}
.secret-placeholder:focus {
  outline: none;
}
.secret-placeholder.error {
  color: #A51605;
}

.delete {
  color: #DDDDDD;
  font-size: 0.9em;
}
.navbar > .container .navbar-brand {
  font-family: "calligraffiti", "Arial";
  color: #F2F9FD;
  font-size: 30px;
  padding: 5px 15px 0px 0px;
}