<div class="row">
    <div class="col-md-6">
        <div class="page-header">
            <h2>Password Change</h2>
        </div>
        <form role="form" action="/account/update" method="post">
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Old Password" required="true">
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Password (optional)">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="newPasswordConfirmation" name="newPasswordConfirmation" placeholder="Password (confirmation)">
            </div>
            <button type="submit" class="btn btn-primary pull-right">Save Changes</button>
        </form>

        <div class="page-header">
            <h2>Contact us</h2>
        </div>
        <form role="form">
            <div class="form-group">
                <label for="contactText">Your message</label>
                <textarea class="form-control" id="contactText" rows="10"></textarea>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Send</button>
        </form>
    </div>
    <div class="col-md-6">
        <div class="page-header">
            <h2>Security Audit</h2>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <td>Date</td>
                <td>IP Address</td>
                <td>Action</td>
            </tr>
            </thead>
            <tbody id="audits">
            </tbody>
        </table>
    </div>
</div>